<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>MyWeb</title>
	<link rel="stylesheet" type="text/css" href="../bower_components/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../bower_components/css/aboutsite.css" />
	<script type="text/javascript" src="../bower_components/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="../bower_components/jquery/bootstrap.min.js"></script>
	<script type="text/javascript" src="../bower_components/jquery/handlebars-v4.0.5.js"></script>
	<script type="text/javascript" src="../bower_components/js/Animate.js"></script>
	<script type="text/javascript" src="../bower_components/js/aboutsite.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBzE9xAESye6Kde-3hT-6B90nfwUkcS8Yw&sensor=false">
    </script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div id="header">
		<header>
			<a href="/personPage" class="logo">
			  <img src="../bower_components/resource_imgs/personpage/logo.png" alt="logo">
			</a>
			<ul class="links list-unstyled">
				<li><a href="/aboutsite">关于网站</a></li>
				<li><a href="/aboutme">关于我</a></li>
			</ul>
		</header>
	</div>

	<div id="container"> 
	  <div class="siteTitle" id="title"> 
        <div class="img"> 
          <img src="../bower_components/resource_imgs/personpage/site.jpg" alt="site"/>
        </div>
        <div class="introduce"> 
          <h4>关于MyWeb</h4>
          <p>MyWeb是一个自己设计的虚拟项目，使用NODE + Express加上前端技术再加上mysql数据库做的一个整合的网站(左边是网站的首页)</p>
          <p>网站目的是为了将之前所有虚拟的网页项目整合在一起，也是一个网页存放的仓库，将之前的练习整合在一起。取名叫<a href="/index">MyWeb</a></p>
        </div>
	  </div>
	  
	  <div id="example"> 
	    <div class="img"> 
	      <img src="../bower_components/resource_imgs/personpage/wyy.png" alt="site"/>
	    </div>
	    <div class="introduce"> 
	      <h4>仿网易云</h4>
	      <p>模拟的网易云的交互效果，这是其中的几个页面</p>
	    </div>
	  </div> 
	</div>

	<footer>
		<ul class="list-unstyled">
			<li>
			  <a href="https://github.com/AllenLLB"><img src="../bower_components/resource_imgs/personpage/github.png" /></a>
			</li>
			<li> 
              <a href="http://www.cnblogs.com/allenllb/"><img src="../bower_components/resource_imgs/personpage/blog.png" /></a>
			</li>
		</ul>
		<p>&copy2017 by AllenLLB</p>
	</footer>
	
</body>