<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>MyWeb</title>
	<link rel="stylesheet" type="text/css" href="../bower_components/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../bower_components/css/personPage.css" />
	<script type="text/javascript" src="../bower_components/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="../bower_components/jquery/bootstrap.min.js"></script>
	<script type="text/javascript" src="../bower_components/jquery/handlebars-v4.0.5.js"></script>
	<script type="text/javascript" src="../bower_components/js/Animate.js"></script>
	<script type="text/javascript" src="../bower_components/js/personPage.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div id="header">
		<header>
		<a href="/personPage" class="logo">
		  <img src="../bower_components/resource_imgs/personpage/logo.png" alt="logo">
		</a>
		<ul class="links list-unstyled">
			<li><a href="/aboutsite">关于网站</a></li>
			<li><a href="/aboutme">关于我</a></li>
		</ul>
		</header>
	</div>
	<div id="banner">
		<div class="sign">
			<h1>
              <span>S</span>
              <span>T</span>
              <span>U</span>
              <span>D</span>
              <span>E</span>
              <span>N</span>
              <span>T</span>
              <span>&nbsp</span>
              <span class="char">+</span>
              <span>&nbsp</span>
              <span>D</span>
              <span>E</span>
              <span>V</span>
              <span>E</span>
              <span>L</span>
              <span>O</span>
              <span>P</span>
              <span>E</span>
              <span>R</span>
			</h1>
			<h2>web / webSite</h2>
		</div>
	</div>
</body>