<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>MyWeb</title>
	<link rel="stylesheet" type="text/css" href="../bower_components/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../bower_components/css/picwall.css" />
	<script type="text/javascript" src="../bower_components/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="../bower_components/jquery/bootstrap.min.js"></script>
	<script type="text/javascript" src="../bower_components/jquery/handlebars-v4.0.5.js"></script>
	<script type="text/javascript" src="../bower_components/js/Animate.js"></script>
	<script type="text/javascript" src="../bower_components/js/picwall.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<!--瀑布流都是使用的绝对定位,瀑布流的特点是：等宽不等高-->
	<ul id="main" class="list-unstyled"> 
      <li class="box"> 
        <a href="#" class="thumbnail">
              <img src="../bower_components/resource_imgs/picwall/beauty.jpg" alt="beauty picture">
            </a>
      </li>
      <li class="box"> 
        <a href="#" class="thumbnail">
              <img src="../bower_components/resource_imgs/picwall/beauty1.jpg" alt="beauty picture">
            </a>
      </li>
      <li class="box"> 
        <a href="#" class="thumbnail">
              <img src="../bower_components/resource_imgs/picwall/beauty2.jpg" alt="beauty picture">
            </a>
      </li>
      <li class="box"> 
        <a href="#" class="thumbnail">
              <img src="../bower_components/resource_imgs/picwall/beauty3.jpg" alt="beauty picture">
            </a>
      </li>
      <li class="box"> 
        <a href="#" class="thumbnail">
              <img src="../bower_components/resource_imgs/picwall/beauty4.jpg" alt="beauty picture">
            </a>
      </li>
      <li class="box"> 
        <a href="#" class="thumbnail">
              <img src="../bower_components/resource_imgs/picwall/beauty5.jpg" alt="beauty picture">
            </a>
      </li>
      <li class="box"> 
        <a href="#" class="thumbnail">
              <img src="../bower_components/resource_imgs/picwall/beauty6.jpg" alt="beauty picture">
            </a>
      </li>
      <li class="box"> 
        <a href="#" class="thumbnail">
              <img src="../bower_components/resource_imgs/picwall/beauty7.jpg" alt="beauty picture">
            </a>
      </li>
      <li class="box"> 
        <a href="#" class="thumbnail">
              <img src="../bower_components/resource_imgs/picwall/beauty8.jpg" alt="beauty picture">
            </a>
      </li>
      <li class="box"> 
        <a href="#" class="thumbnail">
              <img src="../bower_components/resource_imgs/picwall/beauty9.jpg" alt="beauty picture">
            </a>
      </li>
      <li class="box"> 
        <a href="#" class="thumbnail">
              <img src="../bower_components/resource_imgs/picwall/beauty.jpg" alt="beauty picture">
            </a>
      </li>
      <li class="box"> 
        <a href="#" class="thumbnail">
              <img src="../bower_components/resource_imgs/picwall/beauty1.jpg" alt="beauty picture">
            </a>
      </li>
      <li class="box"> 
        <a href="#" class="thumbnail">
              <img src="../bower_components/resource_imgs/picwall/beauty2.jpg" alt="beauty picture">
            </a>
      </li>
      <li class="box"> 
        <a href="#" class="thumbnail">
              <img src="../bower_components/resource_imgs/picwall/beauty3.jpg" alt="beauty picture">
            </a>
      </li>
      <li class="box"> 
        <a href="#" class="thumbnail">
              <img src="../bower_components/resource_imgs/picwall/beauty4.jpg" alt="beauty picture">
            </a>
      </li>
      <li class="box"> 
        <a href="#" class="thumbnail">
              <img src="../bower_components/resource_imgs/picwall/beauty5.jpg" alt="beauty picture">
            </a>
      </li>
      <li class="box"> 
        <a href="#" class="thumbnail">
              <img src="../bower_components/resource_imgs/picwall/beauty6.jpg" alt="beauty picture">
            </a>
      </li>
      <li class="box"> 
        <a href="#" class="thumbnail">
              <img src="../bower_components/resource_imgs/picwall/beauty7.jpg" alt="beauty picture">
            </a>
      </li>
      <li class="box"> 
        <a href="#" class="thumbnail">
              <img src="../bower_components/resource_imgs/picwall/beauty8.jpg" alt="beauty picture">
            </a>
      </li>
      <li class="box"> 
        <a href="#" class="thumbnail">
              <img src="../bower_components/resource_imgs/picwall/beauty9.jpg" alt="beauty picture">
            </a>
      </li>
	</ul>
</body>