<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>MyWeb</title>
	<link rel="stylesheet" type="text/css" href="../bower_components/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../bower_components/css/wuxia.css" />
	<script type="text/javascript" src="../bower_components/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="../bower_components/jquery/bootstrap.min.js"></script>
	<script type="text/javascript" src="../bower_components/jquery/handlebars-v4.0.5.js"></script>
	<script type="text/javascript" src="../bower_components/js/Animate.js"></script>
	<script type="text/javascript" src="../bower_components/js/wuxia.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBzE9xAESye6Kde-3hT-6B90nfwUkcS8Yw&sensor=false">
    </script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <div id="container">
    <a class="home" href="/">GO HOME</a>
    <div class="pics">
      <div class="picw pic1">
      	<img src="../bower_components/resource_imgs/wuxia/1wuxia.jpg">
      </div>
      <div class="picw pic2">
      	<img src="../bower_components/resource_imgs/wuxia/2wuxia.jpg">
      </div>
      <div class="picw pic3">
      	<img src="../bower_components/resource_imgs/wuxia/3wuxia.jpg">
      </div>
      <div class="picw pic4">
      	<img src="../bower_components/resource_imgs/wuxia/4wuxia.jpg">
      </div>
      <div class="picw pic6">
      	<img src="../bower_components/resource_imgs/wuxia/6wuxia.jpg">
      </div>
      <div class="picw pic7">
      	<img src="../bower_components/resource_imgs/wuxia/7wuxia.jpg">
      </div>
      <div class="picw pic8">
      	<img src="../bower_components/resource_imgs/wuxia/8wuxia.jpg">
      </div>
      <div class="picw pic9">
      	<img src="../bower_components/resource_imgs/wuxia/9wuxia.jpg">
      </div>
      <div class="picw pic10">
      	<img src="../bower_components/resource_imgs/wuxia/10wuxia.jpg">
      </div>
      <div class="picw pic11">
      	<img src="../bower_components/resource_imgs/wuxia/11wuxia.jpg">
      </div>
      <div class="picw pic12">
      	<img src="../bower_components/resource_imgs/wuxia/12wuxia.jpg">
      </div>
      <div class="picw pic13">
      	<img src="../bower_components/resource_imgs/wuxia/13wuxia.jpg">
      </div>
      <div class="picw pic14">
      	<img src="../bower_components/resource_imgs/wuxia/14wuxia.jpg">
      </div>
      <div class="picw pic15">
      	<img src="../bower_components/resource_imgs/wuxia/15wuxia.jpg">
      </div>
      <div class="picw pic16">
      	<img src="../bower_components/resource_imgs/wuxia/16wuxia.jpg">
      </div>
      <div class="picw pic17">
      	<img src="../bower_components/resource_imgs/wuxia/17wuxia.jpg">
      </div>
      <div class="picw pic18">
      	<img src="../bower_components/resource_imgs/wuxia/18wuxia.jpg">
      </div>
      <div class="picw pic19">
      	<img src="../bower_components/resource_imgs/wuxia/19wuxia.jpg">
      </div>
      <div class="picw pic20">
      	<img src="../bower_components/resource_imgs/wuxia/20wuxia.jpg">
      </div>
      <div class="picw pic21">
      	<img src="../bower_components/resource_imgs/wuxia/21wuxia.jpg">
      </div>
      <div class="picw pic22">
      	<img src="../bower_components/resource_imgs/wuxia/22wuxia.jpg">
      </div>
      <div class="picw pic23">
      	<img src="../bower_components/resource_imgs/wuxia/23wuxia.jpg">
      </div>
      <div class="picw pic24">
      	<img src="../bower_components/resource_imgs/wuxia/24wuxia.jpg">
      </div>
      <div class="picw pic26">
      	<img src="../bower_components/resource_imgs/wuxia/26wuxia.jpg">
      </div>
      <div class="picw pic27">
      	<img src="../bower_components/resource_imgs/wuxia/27wuxia.jpg">
      </div>
      <div class="picw pic28">
      	<img src="../bower_components/resource_imgs/wuxia/28wuxia.jpg">
      </div>
      <div class="picw pic29">
      	<img src="../bower_components/resource_imgs/wuxia/29wuxia.jpg">
      </div>
      <div class="picw pic30">
      	<img src="../bower_components/resource_imgs/wuxia/30wuxia.jpg">
      </div>
      <div class="picw pic31">
      	<img src="../bower_components/resource_imgs/wuxia/31wuxia.jpg">
      </div>
      <div class="picw pic32">
      	<img src="../bower_components/resource_imgs/wuxia/32wuxia.jpg">
      </div>
      <div class="picw pic33">
      	<img src="../bower_components/resource_imgs/wuxia/33wuxia.jpg">
      </div>
      <div class="picw pic34">
      	<img src="../bower_components/resource_imgs/wuxia/34wuxia.jpg">
      </div>

      
    </div>
  	<div id="zg"></div>
  </div>
</body>